.main-section{
  background-image: url(./images/background.jpg);
  min-height: 100vh;
  background-size: cover;
}
.header{
  margin-top: 0;
  background-color: #262626;
  min-height: 100px;
  
}
.nav-list{
 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}
.link{
  text-decoration: none;
  color: #dfe1dd;
  text-transform: uppercase;
  font-weight: bold;

  
}
.logo{
  color: #dfe1dd;
  text-transform: capitalize;
  font-size: 30px;
  font-family: cursive;
  margin-top: 30px;
}
.list-item{
  margin-top: 50px;
  font-size: 20px;
}
button{
  padding: 10px 20px;
  margin-top: -10px;
  background-color: #262626;
  color: #dfe1dd;
  text-transform: capitalize;
  font-size: 15px;
  border: 1px solid #dfe1dd;
}
