.header-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
}
.header-page>*{
  margin: 5px 0;
}
.logo-page{
  text-transform: capitalize;
  font-size: 1.2em;
  font-style: italic;
}
.nav-page ul{
  list-style: none;
  
}
.nav-page li{
  display: inline-block;
}
.nav-page li+li{
  margin-left: 15px;
}
.nav-page a{
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
.header-btn{
  display: inline-block;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  color: inherit;
  text-transform: uppercase;
  cursor: pointer;
}